<div class="title">
  <h2>Dashboard</h2>
</div>
<div class="content">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card>
        <mat-icon>extension</mat-icon>
        <h3>Services</h3>
        <p>10000</p>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-icon>assignment_turned_in</mat-icon>
        <h3>OTF Providers</h3>
        <p>99000</p>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-icon>storage</mat-icon>
        <h3>Executors</h3>
        <p>900</p>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-icon>how_to_reg</mat-icon>
        <h3>Services</h3>
        <p>19832</p>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>