<div class="title">
  <h2>Executors</h2>
</div>
<div class="content">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="executorName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">
        {{element.executorName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="listOfServices">
      <th mat-header-cell *matHeaderCellDef> Number of Services </th>
      <td mat-cell class="listOfServicesCol" *matCellDef="let element"> <a [href]="'/services/' + element.executorName">
          {{element.listOfServices.services !== null ? element.listOfServices.services.length : 0}}
        </a>
      </td>
    </ng-container>
    <!-- 
    <ng-container matColumnDef="subfolder">
      <th mat-header-cell *matHeaderCellDef> Subfolder </th>
      <td mat-cell *matCellDef="let element"> {{element.subfolder}} </td>
    </ng-container>

    <ng-container matColumnDef="tag">
      <th mat-header-cell *matHeaderCellDef> Tag/Branch </th>
      <td mat-cell *matCellDef="let element"> {{element.tag}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">  here </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>