package de.upb.crc901.otftestbed.commons.as.mappers.impl;

import java.io.IOException;

import com.fasterxml.jackson.core.JsonGenerator;
import com.fasterxml.jackson.databind.SerializerProvider;
import com.fasterxml.jackson.databind.ser.std.StdSerializer;

import de.upb.crypto.math.serialization.RepresentableRepresentation;
import de.upb.crypto.math.serialization.converter.JSONConverter;

public class {{name}}Serializer extends StdSerializer<{{name}}>{


	/**
	 *
	 */
	private static final long serialVersionUID = 7910441857157851146L;

	public {{name}}Serializer() {
		super({{name}}.class);
	}
	@Override
	public void serialize({{name}} value, JsonGenerator gen, SerializerProvider provider) throws IOException {
		JSONConverter converter = new JSONConverter();
    gen.writeRaw(converter.serialize(value.getRepresentation()));
	}
}
