springfox.documentation.swagger.v2.path=/api-docs
server.servlet.context-path=/api
server.port={{port}}
spring.jackson.date-format={{baseGenerationPackage}}.RFC3339DateFormat
spring.jackson.serialization.WRITE_DATES_AS_TIMESTAMPS=false
spring.data.mongodb.host={{mongoIP}}
spring.data.mongodb.port={{mongoPort}}
spring.data.mongodb.database={{mongoDB}}
spring.data.mongodb.repositories.enabled={{mongoDependency}}
